.not-active {
  pointer-events: none;
  cursor: default; }

.hidden {
  display: none; }

.pad-bottom-5 {
  padding-bottom: 5px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-10 {
  padding: 10px; }

.pad-20-20-10-20 {
  padding: 20px 20px 10px 20px; }

.mlz {
  margin-left: 0; }

.mrz {
  margin-right: 0; }

.mtz {
  margin-top: 0; }

.mbz {
  margin-bottom: 0; }

.mr {
  margin-right: 1em; }

.ml {
  margin-left: 1em; }

.mb {
  margin-bottom: 1em; }

.mt {
  margin-top: 1em; }

.mtop30 {
  margin-top: 30px; }

.mautoLeft {
  margin-left: auto; }

.mtopVersion {
  margin-top: 24px; }

.mright15 {
  margin-right: 15px; }

.huge {
  font-size: 50px;
  line-height: normal;
  font-size: 40px; }

.small {
  font-size: 14px;
  line-height: normal; }

.xsmall {
  font-size: 12px;
  margin-top: 2px; }

.gscale {
  color: #969696; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.content-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.center {
  margin-left: auto;
  margin-right: auto; }

.btn-row {
  margin-bottom: 30px; }

.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.divider {
  border-top: 5px solid #e9ae29; }

.gray-box {
  background: #f2f2f2;
  padding: 30px 0;
  margin-bottom: 15px; }

.not-active {
  pointer-events: none;
  cursor: default; }

.hidden {
  display: none; }

.pad-bottom-5 {
  padding-bottom: 5px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-10 {
  padding: 10px; }

.pad-20-20-10-20 {
  padding: 20px 20px 10px 20px; }

.mlz {
  margin-left: 0; }

.mrz {
  margin-right: 0; }

.mtz {
  margin-top: 0; }

.mbz {
  margin-bottom: 0; }

.mr {
  margin-right: 1em; }

.ml {
  margin-left: 1em; }

.mb {
  margin-bottom: 1em; }

.mt {
  margin-top: 1em; }

.mtop30 {
  margin-top: 30px; }

.mautoLeft {
  margin-left: auto; }

.mtopVersion {
  margin-top: 24px; }

.mright15 {
  margin-right: 15px; }

.huge {
  font-size: 50px;
  line-height: normal;
  font-size: 40px; }

.small {
  font-size: 14px;
  line-height: normal; }

.xsmall {
  font-size: 12px;
  margin-top: 2px; }

.gscale {
  color: #969696; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.content-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.center {
  margin-left: auto;
  margin-right: auto; }

.btn-row {
  margin-bottom: 30px; }

.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.divider {
  border-top: 5px solid #e9ae29; }

.gray-box {
  background: #f2f2f2;
  padding: 30px 0;
  margin-bottom: 15px; }

a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #e98829;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
  font-size: 1em; }
  a :hover {
    outline: none; }
  a:focus {
    outline: none; }

a.link-effect {
  color: #e98829;
  font-weight: 700;
  text-shadow: none; }
  a.link-effect:hover::before {
    transform: scale(0.9);
    opacity: 0; }
  a.link-effect:focus::before {
    transform: scale(0.9);
    opacity: 0; }

a.link-effect::before {
  color: #e9ae29;
  content: attr(data-hover);
  position: absolute;
  transition: transform 0.3s, opacity 0.3s; }

form a {
  margin-left: 10px; }

form .btn {
  margin: 0; }

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s; }
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s; }

.btn-1 {
  border: 3px solid #e9ae29;
  color: #e9ae29; }

.btn-1e {
  overflow: hidden;
  z-index: 1; }
  .btn-1e:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #1d7a90;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .btn-1e:hover {
    color: #fff; }
    .btn-1e:hover:after {
      height: 225%;
      opacity: 1; }
  .btn-1e:active {
    color: #fff; }
    .btn-1e:active:after {
      height: 400%;
      opacity: 1; }

.btn-1c {
  z-index: 1; }
  .btn-1c:after {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #1d7a90; }
  .btn-1c:hover {
    color: #fff; }
    .btn-1c:hover:after {
      width: 100%; }
  .btn-1c:active {
    color: #fff; }
    .btn-1c:active:after {
      width: 100%; }

.btn:before, .grid figure figcaption, .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.grid {
  position: relative;
  clear: both;
  margin: 0 35px;
  padding: 1em 0 4em;
  list-style: none;
  text-align: center; }
  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 320px;
    max-height: 260px;
    width: 48%;
    min-height: 260px;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer; }
    .grid figure img {
      position: relative;
      display: block;
      min-height: 100%;
      opacity: 0.8; }
    .grid figure figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      backface-visibility: hidden; }
      .grid figure figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0; }
    .grid figure figcaption::before {
      pointer-events: none; }
    .grid figure figcaption::after {
      pointer-events: none; }
    .grid figure h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      margin: 0; }
      .grid figure h2 span {
        font-weight: 800; }
    .grid figure p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%; }

figure.effect-img {
  background: linear-gradient(-45deg, #000 0, #fff 100%); }
  figure.effect-img img {
    margin: -10px 0 0 -10px;
    width: 103%;
    height: 103%;
    width: calc(100% +10px);
    opacity: 0.9;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10px, 10px, 0);
    backface-visibility: hidden; }
  figure.effect-img figcaption::before {
    transition: opacity 0.35s, transform 0.35s;
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
    content: '';
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
    transform-origin: 50% 50%; }
  figure.effect-img p {
    transition: opacity 0.35s, transform 0.35s;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1.5em 1.5em 0;
    width: 140px;
    text-align: right;
    opacity: 0;
    transform: translate3d(20px, 20px, 0); }
  figure.effect-img:hover img {
    opacity: 0.6;
    transform: translate3d(0, 0, 0); }
  figure.effect-img:hover figcaption::before {
    opacity: 1;
    transform: scale3d(1, 1, 1); }
  figure.effect-img:hover h2 {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  figure.effect-img:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  figure.effect-img h2 {
    text-align: left;
    transition: transform 0.35s;
    transform: translate3d(5px, 5px, 0); }

body {
  padding-bottom: 20px;
  background-color: #fff; }

.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0; }
  .marketing p + h4 {
    margin-top: 28px; }

@media screen and (min-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px; }
  .marketing {
    padding-right: 0;
    padding-left: 0; }
  .footer {
    padding-right: 0;
    padding-left: 0; }
  .jumbotron {
    border-bottom: 0; } }

.container-narrow > hr {
  margin: 30px 0; }

#upload-input {
  display: none; }

.header {
  padding: 15px;
  margin-bottom: 0;
  z-index: 1; }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px; }
  .header div > .btn-1e:after {
    width: 105%; }
  .header div > .btn-1e:hover {
    color: #fff; }
    .header div > .btn-1e:hover:after {
      height: 150%;
      opacity: 1; }

.header-logo {
  background-color: #1d7a90; }

.nav-pills .sky--nav.active > a, .nav-pills .sky--nav.active > a:hover, .nav-pills .sky--nav.active > a:focus {
  background-color: #e9ae29; }

.section {
  z-index: 1;
  padding: 15px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  background: rgba(0, 0, 0, 0.1);
  border-top: 5px solid #e9ae29; }

.section-breadcrumbs {
  margin-bottom: 10px; }
  .section-breadcrumbs > div > .accountBtn {
    margin: 0; }
  .section-breadcrumbs > ol {
    background: none;
    font-size: 1.5em; }
    .section-breadcrumbs > ol.breadcrumb {
      margin: 0;
      padding: 0 15px 0 15px; }
    .section-breadcrumbs > ol > li > a {
      color: #e9ae29; }
    .section-breadcrumbs > ol > li.active {
      color: #f2f2f2; }
  .section-breadcrumbs .dropdown-menu {
    z-index: 1; }

.user-info {
  display: inline-block; }
  .user-info .service-wrapper {
    padding: 10px 5px; }

.profileImg {
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px; }

footer {
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 19px;
  color: #f2f2f2; }

.md-perspective {
  height: 100%;
  overflow: hidden; }
  .md-perspective body {
    height: 100%;
    overflow: hidden;
    background: #ff8b7c;
    perspective: 600px; }

.container {
  min-height: 100%; }

.md-login {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 10px;
  border-radius: 0 5px;
  background-clip: padding-box;
  box-shadow: inset 0 1px #fff, 0 0 4px #e6e6e6;
  color: inset 0 1px #fff, 0 0 4px #e6e6e6; }
  .md-login form {
    margin: 0; }
  .md-login label {
    line-height: 30px;
    font-size: 1.2em; }
  .md-login input[type=checkbox] {
    margin-top: 4px; }

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }
  .md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible; }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(98, 123, 168, 0.28);
  transition: all 0.3s; }

.md-content {
  color: #797979;
  background: #e93f29;
  position: relative;
  border-radius: 3px;
  margin: 0 auto; }
  .md-content h3 {
    color: #fff;
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0; }
  .md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em; }
    .md-content > div p {
      margin: 0;
      padding: 10px 0; }
    .md-content > div ul {
      margin: 0;
      padding: 0 0 30px 20px; }
      .md-content > div ul li {
        padding: 5px 0; }
  .md-content button {
    display: inline-block;
    margin: 0 auto;
    font-size: 0.8em; }

.md-btnGroup {
  width: 50%;
  margin: 0 auto; }

.md-effect .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }

.md-show.md-effect .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }
