<div class="navigation mt row">
	<div class="col-md-12 header-logo pad-20-20-10-20">
		<span class="content-center">
			<a href="/home"><img src="/assets/images/logo.png" /></a>
		</span>
	</div>
	<div class="divider col-md-12"></div>
	<div class="col-md-12 content-center">
		<ul class="nav nav-pills">

			<li role="presentation"><a class="btn btn-1 btn-1c" href="/landing/home"><strong>Home</strong></a></li>
			<li role="presentation"><a class="btn btn-1 btn-1c" href="/landing/about"><strong>About</strong></a></li>

		</ul>
	</div>
</div>
