.md-perspective {
	height: 100%;
	overflow: hidden;
	body {
		height: 100%;
		overflow: hidden;
		background: $secondary_lightest;
		//Instead of the line below you could use @include perspective($p)
		perspective: 600px;
	}
}
.container {
	min-height: 100%;
}

.md-login {
	background: $white_80;
	padding: 20px 20px 10px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0 5px;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px $white, 0 0 4px $gray-light;
	color: inset 0 1px $white, 0 0 4px $gray-light;
	form {
		margin: 0;
	}
	label {
		line-height: 30px;
		font-size: 1.2em;
	}
	input[type=checkbox] {
		margin-top: 4px;
	}
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	//Instead of the line below you could use @include backface-visibility($visibility)
	backface-visibility: hidden;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateX(-50%) translateY(-50%);
}
.md-show {
	visibility: visible;
	~ .md-overlay {
		opacity: 1;
		visibility: visible;
	}
}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(98, 123, 168, 0.28);
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s;
}
.md-content {
	color: #797979;
	background: $secondary;
	position: relative;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	margin: 0 auto;
	h3 {
		color: $white;
		margin: 0;
		padding: 0.4em;
		text-align: center;
		font-size: 2.4em;
		font-weight: 300;
		opacity: 0.8;
		background: $black_10;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px 3px 0 0;
	}
	> div {
		padding: 15px 40px 30px;
		margin: 0;
		font-weight: 300;
		font-size: 1.15em;
		p {
			margin: 0;
			padding: 10px 0;
		}
		ul {
			margin: 0;
			padding: 0 0 30px 20px;
			li {
				padding: 5px 0;
			}
		}
	}
	button {
		display: inline-block;
		margin: 0 auto;
		font-size: 0.8em;
	}
}

.md-btnGroup {
    width: 50%;
    margin: 0 auto;
}

.md-effect .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
