//fonts
$font_0: Lato;
$font_1: sans-serif;

//Font Sizes
$font_title: 28px;
$font_24: 24px;
$font_22: 22px;
$font_20: 20px;
$font_18: 18px;
$font_16: 16px;
$font_14: 14px;
$font_12: 12px;

$base_font_size: 14px;

//Font Weight
$font_bold: bold;
$font_w_500: 500;
$font_w_600: 600;

//Some base sizes for utilities
$base-unit:     15px; // "medium/default" setting
$base-unit-5:  $base-unit - 10;	//5
$base-unit-10:   $base-unit - 5;		//10
$base-unit-15:   $base-unit;			//15
$base-unit-20:   $base-unit + 5;		//20
$base-unit-25:  $base-unit + 10;	//25
$base-unit-30: $base-unit + 15; //30
$base-unit-35: $base-unit + 20;	//35

// State colors
$success-color: #3e9817;
$error-color: #b3282d;
$warning-color: #f0ad4e;

//Main Colors
$main: rgba(29,122,144,1);
$main_lightest: rgba(91,164,182,1);
$main_light: rgba(54,135,154,1);
$main_dark: rgba(12, 98,119,1);
$main_darkest: rgba(3, 77, 94,1);

//Complimentary Color (To Main)
$comp: rgba(233,136, 41,1);
$comp_light: rgba(255,189,124,1);
$comp_lightest: rgba(249,165, 82,1);
$comp_dark: rgba(192,102, 14,1);
$comp_darkest: rgba(152, 75,  0,1);

//Accent Colors
$accent: rgba(233,174, 41,1);
$accent_lightest: rgba(255,215,124,1);
$accent_light: rgba(249,198, 82,1);
$accent_dark: rgba(192,138, 14,1);
$accent_darkest: rgba(152,106,0,1);

//Secondary Color
$secondary: rgba(233, 63, 41,1);
$secondary_lightest: rgba(255,139,124,1);
$secondary_light: rgba(249,101, 82,1);
$secondary_dark: rgba(192, 35, 14,1);
$secondary_darkest: rgba(152, 18,  0,1);

//Whites
$white: #fff;
$white_20: rgba(255,255,255,0.2);
$white_80: rgba(255, 255, 255, .8);

//Blacks
$black: #000;
$black_10: rgba(0,0,0,0.1);

//Grays
$concrete: #f2f2f2;
$mercury: #e5e5e5;
$gray-darker: #4d4d4d;
$gray-dark: #a9a9a9;
$gray: #c2c2c2;
$gray-light: #e6e6e6;
$gray-lighter: #f2f2f2;
$gray-status: #777;

//Buttons
$btn_prime: #C08A0E;
$btn_back: #C0230E;
$btn_font_color: $concrete;

//Links
$link_prime: $comp;
$link_visited: $comp_darkest;
$link_hover: $comp_lightest;

//Background
$background_color: $white;

//Stray Colors
$color_astral_approx: #3085a3;