//@extend-elements
//original selectors
//.grid figure figcaption, .grid figure figcaption >a
%extend_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.grid {
	position: relative;
	clear: both;
	margin: 0 35px;
	padding: 1em 0 4em;
	// max-width: 1000px;
	list-style: none;
	text-align: center;
	figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		min-width: 320px;
		max-width: 320px;
		max-height: 260px;
		width: 48%;
		min-height: 260px;
		height: auto;
		background: $color_astral_approx;
		text-align: center;
		cursor: pointer;
		img {
			position: relative;
			display: block;
			min-height: 100%;

			opacity: 0.8;
		}
		figcaption {
			padding: 2em;
			color: $white;
			text-transform: uppercase;
			font-size: 1.25em;
			//Instead of the line below you could use @include backface-visibility($visibility)
			backface-visibility: hidden;
			@extend %extend_1;
			> a {
				@extend %extend_1;
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
			}
		}
		figcaption::before {
			pointer-events: none;
		}
		figcaption::after {
			pointer-events: none;
		}
		h2 {
			word-spacing: -0.15em;
			font-weight: 300;
			margin: 0;
			span {
				font-weight: 800;
			}
		}
		p {
			margin: 0;
			letter-spacing: 1px;
			font-size: 68.5%;
		}
	}
}

figure.effect-img {
	background: linear-gradient(-45deg, $black 0,$white 100%);
	img {
		margin: -10px 0 0 -10px;
		width: 103%;
		height: 103%;
		width: calc(100% +10px);
		opacity: 0.9;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 0.35s, transform 0.35s;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(10px,10px,0);
		//Instead of the line below you could use @include backface-visibility($visibility)
		backface-visibility: hidden;
	}
	figcaption::before {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 0.35s, transform 0.35s;
		position: absolute;
		right: -100px;
		bottom: -100px;
		width: 300px;
		height: 300px;
		border: 2px solid $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 900px $white_20;
		content: '';
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale3d(0.5,0.5,1);
		//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
		transform-origin: 50% 50%;
	}
	p {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 0.35s, transform 0.35s;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0 1.5em 1.5em 0;
		width: 140px;
		text-align: right;
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(20px,20px,0);
	}
	&:hover {
		img {
			opacity: 0.6;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,0,0);
		}
		figcaption::before {
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale3d(1,1,1);
		}
		h2 {
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,0,0);
		}
		p {
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,0,0);
		}
	}
	h2 {
		text-align: left;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.35s;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(5px,5px,0);
	}
}